.containerab{
    width: 100%;
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.3); 
    padding-bottom: 3%;
    padding-top: 2%;
    background-color: rgb(30, 30, 32);
}

.ref{
    width: 100px;
    height: 100px;
     border-radius: 50%;
    background-color: #898AA6;
    text-decoration: none;

}

.tex{
    padding-top: 30%;
    color: black;
    
}
.li{
    font-weight:600;
}
.hola{
    font-size: 800%;
    
}
.hola2{
    font-size: 400%;
    
}
.imgj{
    width: 75%;
    height: 77%;
    border-radius: 60%;
    margin-top: 5%;
    margin-left:40%;
    margin-bottom: 10%;
    border: solid 1px black;
    
}
.info{
    margin-left: 9%;
    margin-top: 70%;
    color: antiquewhite;

}

.ing{
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 5%;
    font-size: 130%;
    color: aliceblue;
}

.ref:hover {
    background-color:#BCCEF8;
  }

.containerimg{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 0%;
    background-image: url("../img/aboutme.jpg");
    background-size: cover;
      background-position: center;
    
}
.title{
     padding-top: 8%;
}
.textj{
    margin-top: 10%;
}
.info{
    margin-top: 5%;
}
@media (max-width: 700px) {

    .containerimg{
        width: 103%;
    }

    .imgj{
        width: 80%;
        height: 70%;
        border-radius: 60%;
        margin-top: 20%;
        margin-bottom: 2%;
        border: solid 1px black;
        margin-left: 12%;
        
    }
    .ing{
        margin-left: 5%;
        margin-top: 5%;
        padding-bottom: 10%;
    }
    .containerimg{
        display: block;
        padding-bottom: 5%;
        padding-top: 10%;
    }
    .info{
        padding-left: 20%;
        margin-top: 2%;
        margin-left: 0%;
        color: aliceblue;
    
    }
    .me{
        margin-top: 0%;
    }

    .containerab{
        padding-top: 5%;
        background-color: rgb(30, 30, 32);
    }

     
}