.te{
    width: 50%;
    margin-left: 10%;
}

.but:hover{
    background-color: black;
}

.but{
    width: 40%;
}

.bp{
    margin-left: 16%;
}

@media (max-width: 680px) {
    .te{
        width: 100%;
        margin-left: 0%;
        margin-right: 20%;

    }
    .containerApi{
        margin-top: 5%;
        width: 90%;
        display: flex;
        justify-content:center
    }
    .but{
        display: flex;
        width: 50%;
        justify-content: center;
    }
    .bp{
        margin-left: 0%;
        display: flex;
        justify-content: center;
    }
  }