.te{
    width: 50%;
    margin-left: 10%;
}

.but:hover{
    background-color: black;
}

.but{
    width: 40%;
}

.bp{
    margin-left: 16%;
}

@media (max-width: 680px) {
    .bp{
        padding-left: 3%;
    }
    .te{
        width: 80%;
    }
    
  }