.containerp{
    width: 120%;

    background-color: black;
}

.conApilist{
  width: auto;
}
.ti{
  padding-top: 3%;
}
.form{
  height: 120%;
  padding-bottom: 4%;
  margin-right: 10%;
  padding-left: 25%;
}
.titlea{
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
  padding-top: 10%;
  margin-right: 25%;
}

@media (max-width: 500px) {
    .form{
        padding-left: 2%;
    }
    .titlea{
      display: flex;
      justify-content: center;
      margin-right: 0%;
      margin-left: 5%;
    }
    
  }