.inp:hover{
    color: black;
}
.titlec{
    padding-top: 20%;
}
.inp2{
    font-size: 130%;
    margin-bottom: 2%;
    color: black;
}

.container{
     width: 200vh !important;
     background-color: aliceblue;
    color: black;

}
   