.imgp{
    border-radius: 50%;
    height: 100%;
}
.imgc{
    border-radius: 50%;
    height: 330px;
}

#pad{
    padding-top: 5%;
}
.card {
    background-color:#898AA6;
    border-radius: 5%;
    margin-bottom: auto;
    height: 330px;
    width: 100%;
}

.card-text{
    margin-top: 5%;
}
.card:hover{
    background-color: #BCCEF8;
}
.fo{
    font-weight: bolder;
}
.pro{
    background-color: #F3F3F3;
}

@media (max-width: 800px) {
    .del{
        margin-left: 3%;
    }
    .imgp{
        border-radius: 50%;
        width: 100%;
    }
    .btn{
        width: 80%;
    }
    .card {
        height: 100%;
        width: 100%;
    }
    
  }