.pro {
  width: 100%;
  height: 100%;
  padding-top: 5%;

}
.titlep{
  font-size: 500%;
}
@media (max-width: 680px) {
  .pro {
    display: block;
  }
  .titlep{
    font-size: 300%;
  }
  .titlep{
    margin-top: 15%;
  }
}
