
.conc{
    margin: 5%;
    width: 50%;
    font-size: 12px !important;
}
.containerc{
    height: 100%;
    width: 100%;
    padding-bottom: 4%;
    background-image: url("../img/homef.jpg");
    background-size: cover;
      background-position: center;
    padding-top: 3%;
}
.myproyect{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-weight: 700;

}

@media (max-width: 1150px) {
    .pro2 {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
      }
      .conc{
        width: 90%;
        margin-right: 5%;
    }
 
}